body {
    background-color: black;
}

@font-face {
    font-family:"modern";
    src: url("../ressources/Fonts/LemonMilkLight-owxMq.otf");
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    /* background-image: url("../ressources/Images/wanderer-above-the-sea-of-fog-by-caspar-david-friedrich-wallpaper.jpg");
    background-image: url("../ressources/Images/daniel-pintilei-cPaGBl8R_1M-unsplash.jpg");
    background-image: url("../ressources/Images/stars.jpg"); */

    background-color: var(--main-bg-color);
    background-size: cover;

    /* filter: brightness(0.7) contrast(0.84) hue-rotate(20deg) opacity(0.7); */
}

.main-content {
    height: 100vh;
    position: relative;
}

.quote-container {
    width: 30%;

    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#quote {
    font-style: italic;
    font-size: 18px;
    flex-wrap: wrap;
}

.search-container {
    display: flex;
    flex-direction: column;

    width: 30%;

    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#search-box {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(173, 173, 173);
}

#search-input {
    height: 30px;
    width: 100%;

    border-radius: 18px;
    outline: none;
    border: none;
}

#input-pointer {
    margin-top: 8px;
}

.search-options-container {
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.search-options-container > * {
    width: 30px;
    height: 30px;

    text-align: center;

    background-color: var(--bg-complement-color);
    border-radius: 20px;
}

.search-option {
    margin-left: auto;
    margin-right: auto;

    color:var(--bg-complement-font);
    margin-top: 5px;
    font-size: 18px;
    font-weight: 700;
    font-family: modern;
}

#search__google {
    background-color: var(--search-second-color);
}


/* #search-input:focus {
    background-color: rgb(247, 247, 247);
    border-radius: 18px;
    outline: 3px solid #3e9bf3;
    border: none;
    box-shadow: 0 0 45px #bebebe;
}


#search-input:hover {
    background-color: rgb(247, 247, 247);
    border-radius: 18px;
    outline: 3px solid #3e9bf3;
    border: none;
    box-shadow: 0 0 45px #bebebe;
    transition: 0.05s cubic-bezier(0.18, 0.87, 0.54, 1.03);
} */